*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    color:#ededed;
}

.header{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    background: rgb(32, 64, 119);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding:10px;
}

hr{
    color: aliceblue;
    width: 1100px;
    position: absolute;
    top:160px;
    left:220px;
    opacity: 0;
    animation: slidebottom .5s ease forwards;
}

section h1{
    position:absolute;
    top:15%;
    left:17%;
    font-size: 29px;
    font-weight: 700;
    margin:-3px 0;
    opacity: 0;
    animation: slidebottom .5s ease forwards;
}

.Dp{
    position: absolute;
    top:15%;
    right:4%;
    border-radius: 50%;
}

.Piclogo{
    margin-left:100px ;
    height:40px;
}

.Piclogo:hover {
    transform: rotate(360deg);
}

.logo{
    margin-right:722px ;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight:600;
    cursor: default;
}

.navbar a{
    display: inline;
    font-size: 20px;
    color: white;
    text-decoration:none;
    font-weight: 50;
    margin-left: 20px;    
    transition: .3s;
    padding-right: 10px;   
}

.navbar a:hover{
    color:#0ef;
    font-size: 23px;
}

.home{
    position:relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(7, 25, 67);
    background-size:cover ;
    background-position:center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width:900px;
}

.home-content h3{
    
    font-size: 32px;
    font-weight: 700;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin:-3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

section.home a{
    color: white;
    text-decoration: none;
    position: absolute;
    top:10%;
    left:2%;
    font-size: 20px;
    opacity: 0;
    
    animation: slidebottom .5s ease forwards;
}

section.home a:hover{
    font-size:23px; 
}

.Pic{
    display: flex;
    gap:55px;
    flex-direction: row;
}

.pict1,.pict2{
    width:50%;
    opacity: 0;
    animation: slidetop .5s ease forwards;
}

@keyframes slidetop{
    0%{
        transform: translateY(100px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}

@keyframes slidebottom{
    0%{
        transform: translateY(-100px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}


